*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    height: 80vh;
    width: 100%;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 25px;
    
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#search {
    height: 3rem;
    width:  500px;
    font-size: 20px;
    outline: none;
}
nav div i {
    color: white;
    padding: 10px 25px
}
@media screen and (max-width: 900px)  {
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 10vh;
        font-size: 25px;
        
    }

    ul{
        display: none;
    }

   .input{
        position: absolute;
        height: 3rem;
        margin-top: 105px;
        width: 100%;
        padding: 0 10px;
        /* width:  200px */
    }

    #search {
        width: 100%;
    }
    


    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px
    }


    nav ul li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .text{
        font-size: 30px;
        color: white;
        margin-top: 150px;
    
    }

    nav div i {
        color: white;
        padding: 10px 15px;
    }
    
}
.logo{
    color: white;
}
/* .slide{
    
    justify-content: center;
    justify-items: center;
    border: 2px solid red;
    width: 100%;
    margin: 60px
} */
.slide1{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  /* border: 2px solid blue; */
  padding: 10px;
  height: 70vh;
  padding: 20px;
}

@media screen and (max-width: 900px){
    .slide1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 4px;
        height: auto;
      }

      .slide1 img{
        width: 100%;
        /* padding-top: 20px; */
    }
    
    .slide1 div{
        width: 100%;
    }
   
}

.slide1 img{
    width: 50%;
    padding-top: 150px;
}
.slide2 img{
    width: 50%;
    padding-top: 150px;
}

.slide1 div{
    /* width: 50%; */
}
.text{
    font-size: 50px;
    color: white;

}
.btn{
    border: none;
    background: yellow;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 30px;
    font-weight: bold;

}
/*section 2*/

.features {
    display: flex;
    /* border: 5px solid red; */
    height: 30vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: #e0b9d7;
    padding: 200px
}
.fab{
    
    justify-content: space-around;
    align-items:center;
    /* padding: 50px */
}
.fab a {
    color: #8e2de2;
}